node_modules/
dist/
.DS_Store
*.log
temp/
.idea/
.vscode/
*.local
.env.*.local
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
backed/envs/
backed/data/
.pyc

__pycache__/*
*.pyc
.trae/
backed/projects/
