fastapi
uvicorn
pydantic>=1.8.0
cryptography>=3.4.7
psutil>=5.8.0
python-multipart>=0.0.5
PyJWT>=2.0.37
sqlalchemy>=2.0.37
bcrypt>=4.2.1
pydantic[email]
apscheduler>=3.11.0
uvicorn[standard]
requests
yagmail
gitpython>=3.1.30
aiohttp